/* Reset and global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Header section */
header {
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:2px solid rgb(148 163 184);
  background-color: white;
}

.header-icons {
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.header-icons>img {
  height: 3rem;
  padding: 0.5rem;
  margin-right: 3rem;
  border: 2px solid black;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.header-icons>button {
  height: 3rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 3rem;
  border: 2px solid black;
  cursor: pointer;
}

.header-icons>img:hover {
  background-color: rgb(67 56 202);
  border: 3px solid white;
}

.header-icons>img:active {
  background-color: red;
}

.header-icons>button:hover {
  background-color: rgb(67 56 202);
  border: 3px solid white;
  color: white;
}

.header-icons>button:active {
  background-color: red;
}

.brand {
  color: rgb(67 56 202);
  font-size: 1.875rem;
  line-height: 2.2rem;
  background-color: rgb(148 163 184);
  padding: 0.9rem;
 
}

/* Side Navbar */
nav {
  position: fixed;
  top: 4rem;
  /* Adjust top spacing based on header height */
  left: 0;
  width: 30vh;
  padding: 0.5rem;
}

nav>.filter-container {
  padding-top: 3rem;
}

nav>.filter-container>form {
  display: flex;
  flex-direction: column;
}

.filter-container {
  min-height: 90%;
}

/* Product section */
.main-section {
  margin-left: 30vh;
  flex-grow: 1;
  display: flex;
}

.product-container {
  flex-grow: 1;
  padding-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.product {
  border-width: 2px;
  border-color: rgb(67 56 202);
  color: #555;
  border-style: solid;
  width: 17rem;
  height: fit-content;
  border-radius: 0.375rem;
  padding: 0.5rem;
  margin: 1.5rem;
  margin-left: 1rem;
}

.product:hover {
  border-width: 4px;
  color: black;
}

.image-container {
  height: 8rem;
  border-radius: 0.375rem;
}

.price-container {
  text-align: center;
  margin: 0;
}

.price-container>h2 {
  font-weight: 700;
  margin: 0;
}

.price-container>h3 {
  font-weight: 400;
  margin: 0;
}

.price-container>.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:10px;
  margin: 0;
}
.description>p{
  border: 1px solid grey;
  border-radius: 3px;
  padding: 3px;
}

.product-buttons {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between
}

.product-buttons>button {
  padding: 0.5rem;
  border: 1px solid black;
}

.product-buttons>button:hover {
  background-color: rgb(67 56 202);
  color: white;
  border: 2px solid white;
}

.product-buttons>button:active {
  background-color: red;
  color: white;
  border: 2px solid white;
}

.product-name {
  color: rgb(67 56 202);
}

/* Footer */
footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  background-color: rgb(148 163 184);
}

footer>.contact-footer {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  color: rgb(67 56 202);
}

footer>.links-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer>.links-footer>a {
  padding: 0.5rem;
}

footer>.links-footer>a>img {
  height: 2rem;
}

footer>.footer-brand {
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: rgb(67 56 202);
}

/* hamberger*/

.hamburger-icon {
  display: none;
  /* Initially hide on larger screens */
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .main-section {
    margin-left: 15vw;
  }

  nav {
    position: none;
    top: 4rem;
    left: -100%;
    /* Initially hide on mobile */
    transition: left 0.3s ease-in-out;
    width: 100%;
    max-width: 30vh;
    padding: 0.5rem;
    z-index: 1;
    background-color: #fff;
  }

  .hamburger-icon {
    display: block;
    /* Display only on smaller screens */
    position: fixed;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 2;
  }

  .brand {
    padding: 0px;
    margin-left: 3rem;
    font-size: 0.9rem;
    line-height: 1rem;
    padding: 0.9rem;
  }
 
  .product-container {
    flex-grow: 1;
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
  }

  .product {
    width: 100%;
    border-width: 2px;
    border-color: rgb(67 56 202);
    color: #555;
    border-style: solid;
    height: fit-content;
    border-radius: 0.375rem;
    padding: 0.5rem;
  }


}

@media screen and (max-width: 480px) {

  /* Additional styles for smaller screens */
  .main-section {
    margin-left: 5vw;
  }

  nav {
    width: 15vh;
  }

  .product {
    width: 12rem;
    margin: 1rem;
  }

  .image-container {
    height: 6rem;
  }

}